doctype html
html
  head
    meta(charset="utf-8")
    title SLANG - Voices
    link(rel="stylesheet", type="text/css", href="css/bootstrap-noto.min.css")
    link(rel="stylesheet", type="text/css", href="css/editor.css")
  body
    .container
      .hero-unit.well
        h4 Voices

      .row
        .col-md-6
          h3 Image
          .draw-tools.hide
            span.color.black.highlight _
            span.color.red _
            span.color.blue _
            span.color.green _
            span.color.purple _
          .canvas-container
            canvas#photo(width="500", height="500") Your web browser does not support Canvas! Sorry =(
            canvas#drawn(width="500", height="500")
          noscript Your web browser does not support JavaScript! Sorry =(

        .col-md-6
          h3 Audios
          .canvas-tools.hide
            button#tryCanvas.btn.btn-success Try It!
            button#restoreCanvas.btn.btn-info.hide Keep Editing
          form(action="/save", method="POST")
            ul#audios
              li
                span.color.black.highlight _
                include partials/audioRecorder
              li
                span.color.red _
                include partials/audioRecorder
              li
                span.color.blue _
                include partials/audioRecorder
              li
                span.color.green _
                include partials/audioRecorder
              li
                span.color.purple _
                include partials/audioRecorder
            input#save.btn.btn-success(type="submit", value="Upload Audio")

    script(type="text/javascript", src="js/lib/jquery-1.11.2.min.js")
    script(type="text/javascript", src="js/lib/recorder.js")
    script(type="text/javascript", src="js/voices-editor.js")
