doctype html
html
  head
    meta(charset="utf-8")
    title SLANG - Voices
    link(rel="stylesheet", type="text/css", href="css/bootstrap-noto.min.css")
  body
    .container
      .hero-unit.well
        h1 Voices
        h3 what is the word for... ?

      .row
        .col-md-6
          h3 Try it!
          p
            a(href="/demo")
              h4 Demo
            br
            a(href="/create")
              h4 Create

        .col-md-6
          h3 About
          p
            span Open source project for the&nbsp;
            a(href="http://elalliance.org") Endangered Language Alliance
            span .
          p
            span View, edit, and add to the&nbps;
            a(href="https://github.com/slang-group/voices") source code on GitHub
            span .
