body {
  padding-bottom: 30px;
}

.col-md-6 {
  text-align: center;
}

.canvas-container {
  position: relative;
}

canvas {
  cursor: pointer;
  border: 2px solid #000;
  position: absolute;
  top: 0;
  left: 0;
}

#audios {
  margin: 20px 0;
  text-align: left;
}

#audios li {
  list-style-type: none;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}
#audios span, #audios div, #audios audio, #audios button {
  vertical-align: middle;
  display: inline;
}
#audios audio, #audios .record {
  display: none;
}
audio.show {
  margin-left: 15px;
  display: inline !important;
}
.record {
  margin-left: 15px;
}

.draw-tools {
  text-align: center;
  margin-bottom: 5px;
}
.color {
  font-size: 18pt;
  padding: 0 10px;
  cursor: pointer;
  border: 3px solid transparent;
}
.color.black {
  background: #000;
  color: #000;
}
.color.red {
  background: #c00;
  color: #c00;
}
.color.blue {
  background: #00c;
  color: #00c;
}
.color.green {
  background: #0c0;
  color: #0c0;
}
.color.purple {
  background: #c0c;
  color: #c0c;
}
.draw-tools .color.highlight {
  border: 3px solid pink;
}
