body {
  padding-bottom: 30px;
}

.canvas-container {
  position: relative;
  height: 550px;
}

canvas {
  cursor: pointer;
  border: 2px solid #000;
  position: absolute;
  top: 0;
  left: 0;
}

.public #audios {
  visibility: hidden;
}

.public canvas#drawn {
  opacity: 0;
}
